global
    maxconn 100

defaults
    log global
    mode tcp
    retries 2
    timeout connect 15s
    timeout client 30m
    timeout server 30m

resolvers docker_dns
    nameserver dns1 127.0.0.11:53

listen postgres_gateway
    bind *:5432
    mode tcp
    # Transparent passthrough - let the client and server handle everything
    server n_m ep-holy-block-a15z3e4p-pooler.ap-southeast-1.aws.neon.tech:5432 check resolvers docker_dns
