# Database Configuration (Neon PostgreSQL)
# Replace with your actual connection details
DATABASE_URL=postgresql+asyncpg://<user>:<password>@<hostname>/neondb

# Service Addresses
ORDER_SERVICE_ADDR=order-service:50051
INVENTORY_SERVICE_ADDR=inventory-service:50052
MEDIA_DATABASE_URL=postgresql+asyncpg://<user>:<password>@<hostname>/neondb
